body {
    font-family: 'Arial', 'sans-serif';
}

section {
    text-align: center;
}

.gameContainer {
    display: grid;
/*  
Grid = repeat   Template = 3   Columns = 3 repeat  
*/
    grid-template-columns: repeat(3, auto);
    width: 340px;
    height: 340px;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
/*
Box shadow effect right, bottom, opacity, outside margin + color
*/
    box-shadow: 1px 2px 30px 4px pink;
    border: 3px solid black;
    cursor: crosshair;
    line-height: 100px;
    font-size: 60px;
}

